@import 'variables';

.light-theme {
  background-color: $primary-color-light-50;
  color: $black-light;
  transition: all .5s ease-in-out;

  // ---- Pre loader ---- ---- ----

  #preloader {
    background-color: $primary-color-light-500;
  }

  #loader {
    background-color: $primary-color-light-400;
  }

  #progress {
    background-color: $primary-color-light-300;
  }

  // ---- Hero ---- ---- ----
  .hero {
    &.thanks{
      // background-color: $grey-color-500;
    }
    h1 span {
      color: $primary-color-light-600;
    }
    .designer {
      color: $primary-color-light-400;
    }
  }

/* -- me -- */
.me {

}

  // ---- Social Icon ---- ---- ----

  .social-icons {
    & .social-icon {
      color: $black-light;
    }
  }

  // --- Link ---- ---- ----
  a,
  footer a {
    color: $primary-color-light-500;

    &:active,
    &:visited {
      color: $primary-color-light-400;
    }

    &:hover {
      color: $primary-color-light-600;
    }
  }
  
  // ---- title section in horizontal scroll
  .item {
    &.txt{
      h2{
        color: $primary-color-light-600;
      }
    }
  }
  // --- linea nel p dell'horizontal scroll
  .content p:first-child{
    color: $primary-color-light-300;
    &::after{
      border: 1px solid $primary-color-light-300;
    }
  }
  /* ----- accordion ---- */
  .acnav {
    .separator{
      border-bottom:1px solid $black-light; 
    }
  } 
}

