html {
    font-size: 4vw;
}

@media screen and (min-width: 320px) {
    html {
        font-size: calc(4vw + 10 * ((100vw - 320px) / 880));
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: calc(2vw + 10 * (100vw - 320px) / 880); //test 
    }
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 2vw;
    }
}

h1,
#percentage {
    font-size: clamp(4rem, 15vw, 6rem);

    &.big {
        font-size: clamp(5.5rem, 15vw, 12rem);
    }
}

h2 {
    font-size: clamp(3rem, 15vw, 3.75rem);

    &.big {
        font-size: clamp(6.4rem, 15vw, 9rem);
    }
}

h3 {
    font-size: clamp(1.8rem, 15vw, 3rem);

    // &.big {
    //   font-size: clamp(4.2rem, 15vw, 7.4rem);
    // }
}

h4 {
    font-size: clamp(1.6rem, 15vw, 2.12rem);
}

h5 {
    font-size: clamp(1.35rem, 15vw, 1.5rem);
}

h6 {
    font-size: clamp(1.2rem, 15vw, 1.3rem);
}

p {
    position: relative;
    font-size: clamp(1rem, 15vw, 1.1rem);
    line-height: 150%;
    letter-spacing: .01rem;

    &.big {
        font-size: clamp(1.3rem, 15vw, 1.6rem);
        line-height: 135%;
    }

    &.small {
        font-size: clamp(.65rem, 15vw, .8rem);

        @media (max-width: 767.98px) {
            font-size: clamp(.8rem, 15vw, .9rem);
        }
    }
    &.xsmall {
        font-size: clamp(.55rem, 15vw, .6rem);

        @media (max-width: 767.98px) {
            font-size: clamp(.6rem, 15vw, .7rem);
        }
    }
}

.social-icon i {
    font-size: clamp(1rem, 15vw, 1.1rem);
}

strong, .strong {
    font-weight: 700;
}

.serif {
    font-family: Nognathy !important;
}

//italic
.italic {
    font-style: italic;
}

/* span a capo */
p.forced, h3.forced {
    position: relative;
    display: flex;
    flex-direction: column;
    // margin-left: auto;
    line-height: 140%;
    z-index: 2;
    // align-items: flex-start;
    // align-content: flex-end;
    flex-wrap: wrap;
    max-width: 800px;
  }
  
  .portfolio h3.forced{
    line-height: 110%;
  }
  

// --- Link ---- ---- ----
a,
footer a {
    position: relative;
    text-decoration: none;
    transition: all .5s ease-in-out;
    transform: skewX(20);
    // opacity: .6;
    &.small {
        font-size: clamp(.65rem, 15vw, .8rem);

        @media (max-width: 767.98px) {
            font-size: clamp(.8rem, 15vw, .9rem);
        }
    }
    
    @media (min-width: 992px) {
        &:hover {
            opacity: 1;

            &::before {
                transform: scaleX(1);
                transform-origin: left center;
            }
        }

        &::before {
            display: block;
            content: "";
            position: absolute;
            bottom: -0.2rem;
            left: 0;
            transform: scaleX(0);
            width: 100%;
            height: 0.056rem;
            background:currentColor;
            transition: transform .7s cubic-bezier(0.19, 1, 0.22, 1);
            transform-origin: right center;
        }
    }
}

//indentazione
.about-start{
    margin-left: 4rem;
}

// data ---> in accordion section
.period{
    font-size: clamp(.65rem, 15vw, .8rem);

    @media (max-width: 767.98px) {
        font-size: clamp(.8rem, 15vw, .9rem);
    }
}