// /* ---- Color  ----- */

//Base color
$white-light:#fafafa;
$white-dark:#fafafacc;
$grey-color-100:#e4e4e4;
$grey-color-300:#c7c7c7;
$grey-color-400:#ababab;
$grey-color-500:#8e8e8e;
$grey-color-600:#6a6a6a;
$grey-color-700:#464646;
$grey-color-800:#222222;
$black-dark:#161616;
$black-light:#0b0b0b;

//primary light
$primary-color-light-50: #FDF4F3;
$primary-color-light-100: #FBE9E8;
$primary-color-light-200: #F6D7D5;
$primary-color-light-300: #EFB5B2;
$primary-color-light-400: #E58B87;
$primary-color-light-500: #d95a5f;
$primary-color-light-600: #BC3A3F;
$primary-color-light-700: #A32D35;
$primary-color-light-800: #892831;
$primary-color-light-900: #76252F;
$primary-color-light-950: #411015;

//primary dark
$primary-color-dark-50: #FFF4F1;
$primary-color-dark-100: #FFE7E1;
$primary-color-dark-200: #FFD3C8;
$primary-color-dark-300: #FFB5A1;
$primary-color-dark-400: #FE7551;
$primary-color-dark-500: #F7633C;
$primary-color-dark-600: #E4471E;
$primary-color-dark-700: #C03915;
$primary-color-dark-800: #9F3215;
$primary-color-dark-900: #832F19;
$primary-color-dark-950: #481507;

// green
$green-color-50: #edffe5;
$green-color-100: #d6ffc7;
$green-color-200: #afff95;
$green-color-300: #70ff4b;
$green-color-400: #4DF625;
$green-color-500: #2ADD05;
$green-color-600: #1bb100;
$green-color-700: #178605;
$green-color-800: #18690b;
$green-color-900: #16590e;
$green-color-950: #053201;

// violet
$violet-color-50: #f6f4fe;
$violet-color-100: #edebfc;
$violet-color-200: #dfdafa;
$violet-color-300: #c6bcf6;
$violet-color-400: #B5A4F1;
$violet-color-500: #8D6BE7;
$violet-color-600: #7c4cdb;
$violet-color-700: #6d3ac7;
$violet-color-800: #5a30a7;
$violet-color-900: #4c2989;
$violet-color-950: #2f195c;

//alternative
$alternative-color:#6750A4;



