/* ---- Import ---- */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css);

// @font-face {
//   font-family: 'besom'; !important
//   src: url('fonts/besom/besom.eot');
//   src: url('fonts/besom/besom.eot?#iefix') format('embedded-opentype'),
//        url('fonts/besom/besom.woff2') format('woff2'),
//        url('fonts/besom/besom.woff') format('woff'),
//        url('fonts/besom/besom.ttf') format('truetype'),
//        url('fonts/besom/besom.svg#besom_2regular') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: 'Matahari'; 
  src: url('../Font/Matahari/Matahari\ 400\ Regular.otf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Matahari'; 
  src: url('../Font/Matahari/Matahari\ 400\ Regular\ Oblique.otf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Matahari'; 
  src: url('../Font/Matahari/Matahari\ 700\ Bold.otf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Matahari'; 
  src: url('../Font/Matahari/Matahari\ 700\ Bold\ Oblique.otf');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Nognathy'; 
  src: url('../Font/Nognathy/Nognathy.otf');
  font-weight: 400;
  font-style: normal;
}


/* ---- Color  ----- */

$primary-color:#da5800;/*e27e2d*/
$secondary-color:#f7d99a;
$alternative-color:#f4f4f4;

// $primary-ultralight: mix(white, $primary-color, 60%);
// $primary-light: mix(white, $primary-color, 20%);
// $primary-dark: mix(black, $primary-color, 20%);
// $primary-ultradark: mix(black, $primary-color, 60%);

$primary-ultralight: #FF8D40;
$primary-light: #FF6C09;
$primary-dark: #B04700;
$primary-ultradark: #8E3A00;

$secondary-ultralight: #FDF6E8;
$secondary-light: #FDF6E8;
$secondary-dark: #F1BE54;
$secondary-ultradark: #EDA91B;

$black:#333;
$white:#fff;


// ---- Base -----
html{
  scroll-behavior: smooth;
}
body{
  background-color:$secondary-color;
  font-family: 'Matahari', sans-serif;
  overflow-y: hidden; /* Hide vertical scrollbar */
}
section.section{
  // min-height: 100vh;
  &.hero{
    display: grid;
    place-items: center;
  }
  padding-top: 4rem;
  padding-bottom: 4rem;
  @media (max-width: 767.98px) {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  //child
  &:nth-child(2n){
    background-color: $secondary-light;
  }

  //link
  a{
    color:$secondary-dark;
    text-decoration: none;
    transition:all .5s ease-in-out;
    @media (min-width: 992px) {  
      &:hover{
        color:$primary-ultradark;
      }
    }
  }
}
//italic
.italic{
font-style: italic;
}
//container
.fluid-container{
  padding: 0 3rem;
}
.exp-edu{
  align-items: flex-end;
}
.section:first-child, .section:last-child{
  min-height: 100vh;
}
.section:nth-child(2n){
  // background-color: $secondary-dark;
}
.square:nth-child(1){
  background-color:$primary-ultralight;
}
.square:nth-child(2){
  background-color:$primary-light;
}
.square:nth-child(3){
  background-color:$primary-dark;
}
.square:nth-child(4){
  background-color:$primary-ultradark;
}
.square:nth-child(5){
  background-color:$secondary-ultralight;
}
.square:nth-child(6){
  background-color:$secondary-light;
}
.square:nth-child(7){
  background-color:$secondary-dark;
}
.square:nth-child(8){
  background-color:$secondary-ultradark;
}

/* -- colors -- */
.primary-color{
  color:$primary-color !important;
}
/* -- hero -- */
.hero{
  .hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .title{
    position: relative;
    display: inline-flex;
    margin: 0 auto;
    top:2rem;
  }

  h1 span{
    color: $primary-color;
    position: relative;

    &:nth-child(2){
      top:1rem;

    }
    &:nth-child(3){
      top:-.6rem;
    }
    &:nth-child(4){
      top:.5rem;
    }
    &:nth-child(5){
      top:1.3rem;
    }
    &:nth-child(6){
      top:-.3rem;
    }
  }
  p.big {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    line-height: 1;
    z-index: 2;
    align-items: flex-start;
    align-content: flex-end;
    flex-wrap: wrap;
    max-width: 800px;
  }
  // social link
  .social-icons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    & .social-icon{
      color: $black;
      @media (max-width: 767.98px) {
        flex: 25%;
        justify-content: center;
        display: flex;
        padding-bottom: 2rem;
      }

    }
  }
  .designer{
    color:$secondary-dark;
    position: absolute;
    bottom: 25%;
    left: 20%;
  }
}

.me{
  .portrait{
    position:absolute;
    display: block;
    width: 600px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; // Align top: auto
    margin: auto;
    z-index:-1;
    -webkit-animation: 3s ease 0s normal forwards 1 fadein;
    animation: 3s ease 0s normal forwards 1 fadein;
    @media (max-width: 575.98px) {
      position:static;
    }
  }
  @keyframes fadein {
    0% {
      opacity: 0;
    }

    66% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadein {
    0% {
      opacity: 0;
    }

    66% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

.bio{
  .labels{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    line-height: 1;
    z-index: 2;
    align-items: flex-start;
    align-content: flex-end;
    flex-wrap: wrap;
    max-width: 800px;
  }
  .things{
    // position: relative;
  }
}

.exp{
  margin-bottom: 2rem;
}


/* -- fluid text -- */

html {
  font-size: 4vw;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(4vw + 10 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: calc(2vw + 10 * (100vw - 320px) / 880); //test 
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 2vw;
  }
}

h1 {
  font-size: clamp(4rem, 15vw, 6rem);

  &.big {
    font-size: clamp(5.5rem, 15vw, 12rem);
  }
}

h2 {
  font-size: clamp(3rem, 15vw, 3.75rem);

  &.big {
    font-size: clamp(6.4rem, 15vw, 9rem);
  }
}

h3 {
  font-size: clamp(1.8rem, 15vw, 3rem);

  // &.big {
  //   font-size: clamp(4.2rem, 15vw, 7.4rem);
  // }
}

h4 {
  font-size: clamp(1.6rem, 15vw, 2.12rem);
}

h5 {
  font-size: clamp(1.35rem, 15vw, 1.5rem);
}

h6 {
  font-size: clamp(1.2rem, 15vw, 1.3rem);
}

p {
  font-size: clamp(1rem, 15vw, 1.1rem);
  &.big {
    font-size: clamp(1.3rem, 15vw, 1.6rem);
  }
  &.small {
    font-size: clamp(.65rem, 15vw, .8rem);
  }
}
.social-icon i{
  font-size: clamp(1rem, 15vw, 1.1rem);
}
strong{
  font-weight: 700;
}

.serif{
  font-family:Nognathy !important;
}

/* span a capo */
p.forced {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  line-height: 140%;
  z-index: 2;
  // align-items: flex-start;
  // align-content: flex-end;
  flex-wrap: wrap;
  max-width: 800px;
}
/* -- Social Icon -- */
.social-icons i {
  // vertical-align: top;
  // display:inline-flex;
  // height: 100px;
  // padding: 1rem;
}

/* -- Smooth scroll -- */
.smooth-scroll {
  overflow: hidden !important;
}

.horizontalScrolling {
  padding-top: 125px;
  padding-bottom: 125px;
}

.horizontalScrolling .section-inner {
  min-height: max-content;
}

[data-scroll-in-section] {
  display: inline-flex;
  padding-right: 50px;
}


.item {
  white-space: nowrap;
  max-width: 2000px;
  width: fit-content;

  &:first-child{
    padding-left: 33vw;
  }
  &:last-child{
    padding-right: 0;
  }
  &:nth-child(4n+1){
    font-family:Nognathy !important;
    color:$primary-color;
    text-transform: uppercase;
  }
  &:nth-child(4n+2){
    font-weight: 200;
  }
  &:nth-child(4n+3){
    color:#ca9932;
    text-transform: uppercase;
  }
  &:nth-child(4n+3){
    font-weight:bolder;
    font-style: italic;
  }

}
.item + .item {
  margin-left: 3rem;
}

.sectionLeftAndRight .section-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


section.afterHorizontal {
  margin-top: -100vh;
}


/* ----- split text anm ---- */
.splitting .char {
  animation: slide-in .6s cubic-bezier(.5, 0, .5, 1) both;
  animation-delay: calc(3ms * var(--char-index) + 1000ms );
}


@keyframes slide-in {
  from {
    transform: translateY(1.5em);
    opacity: 0;
  }
}