/* ---- Import ---- */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css);
@font-face {
  font-family: "Matahari";
  src: url("../Font/Matahari/Matahari 400 Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Matahari";
  src: url("../Font/Matahari/Matahari 400 Regular Oblique.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Matahari";
  src: url("../Font/Matahari/Matahari 700 Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Matahari";
  src: url("../Font/Matahari/Matahari 700 Bold Oblique.otf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Nognathy";
  src: url("../Font/Nognathy/Nognathy.otf");
  font-weight: 400;
  font-style: normal;
}
/* ---- Color  ----- */
.primary-color {
  color: #bc3a3f !important;
}

html {
  scroll-behavior: smooth;
  height: -moz-available;
  height: fill-available;
  height: -webkit-fill-available;
}

body {
  background-color: #fae6e7;
  font-family: "Matahari", sans-serif;
  overflow-y: hidden; /* Hide vertical scrollbar */
  color: #190606;
  /* mobile viewport bug fix */
  min-height: 100vh;
  min-height: -moz-available;
  min-height: fill-available;
  min-height: -webkit-fill-available;
}
@media (min-width: 992px) {
  body {
    background-color: #fae6e7;
  }
}

section.section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
section.section.hero {
  display: grid;
  place-items: center;
}
section.section a {
  color: #e5797d;
  position: relative;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  transform: skewX(20);
}
section.section a:active, section.section aa:visited {
  color: #73292c;
}
@media (min-width: 992px) {
  section.section a:hover {
    opacity: 1;
    color: #bc3a3f;
  }
  section.section a:hover::before {
    transform: scaleX(1);
    transform-origin: left center;
  }
  section.section a::before {
    display: block;
    content: "";
    position: absolute;
    bottom: -0.2rem;
    left: 0;
    transform: scaleX(0);
    width: 100%;
    height: 0.056rem;
    background: currentColor;
    transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: right center;
  }
}

.section:first-child, .section:last-child {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.italic {
  font-style: italic;
}

.fluid-container {
  padding: 0 3rem;
}
@media (max-width: 767.98px) {
  .fluid-container {
    padding: 0 1.5rem;
  }
}
.fluid-container.min {
  padding: 0 5rem;
}
@media (max-width: 767.98px) {
  .fluid-container.min {
    padding: 0 2rem;
  }
}

.exp-edu {
  align-items: flex-end;
}

/* -- hero -- */
.hero .hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero .title {
  position: relative;
  display: inline-flex;
  margin: 0 auto;
  top: 2rem;
}
.hero h1 span {
  color: #bc3a3f;
  position: relative;
}
.hero h1 span:nth-child(2) {
  top: 1rem;
}
.hero h1 span:nth-child(3) {
  top: -0.6rem;
}
.hero h1 span:nth-child(4) {
  top: 0.5rem;
}
.hero h1 span:nth-child(5) {
  top: 1.3rem;
}
.hero h1 span:nth-child(6) {
  top: -0.3rem;
}
.hero p.big {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  line-height: 1;
  z-index: 2;
  align-items: flex-start;
  align-content: flex-end;
  flex-wrap: wrap;
  max-width: 800px;
}
@media (max-width: 991.98px) {
  .hero p.big {
    top: 2rem;
    margin-right: 2rem;
  }
}
.hero .social-icons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.hero .social-icons .social-icon {
  color: #190606;
}
@media (max-width: 767.98px) {
  .hero .social-icons .social-icon {
    flex: 25%;
    justify-content: center;
    display: flex;
    padding-bottom: 2rem;
  }
}
.hero .designer {
  color: #e5797d;
  position: absolute;
  bottom: 25%;
}
@media (min-width: 768px) {
  .hero .designer {
    left: 20%;
  }
}

.hi .emoji {
  font-size: clamp(1.6rem, 15vw, 2.12rem) !important;
}

.me .portrait {
  position: absolute;
  display: block;
  width: 600px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
  -webkit-animation: 3s ease 0s normal forwards 1 fadein;
  animation: 3s ease 0s normal forwards 1 fadein;
}
@media (max-width: 575.98px) {
  .me .portrait {
    position: static;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bio .labels {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  line-height: 1;
  z-index: 2;
  align-items: flex-start;
  align-content: flex-end;
  flex-wrap: wrap;
  max-width: 800px;
}
.exp {
  margin-bottom: 2rem;
}

/* -- fluid text -- */
html {
  font-size: 4vw;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(4vw + 10 * (100vw - 320px) / 880);
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: calc(2vw + 10 * (100vw - 320px) / 880);
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 2vw;
  }
}
h1 {
  font-size: clamp(4rem, 15vw, 6rem);
}
h1.big {
  font-size: clamp(5.5rem, 15vw, 12rem);
}

h2 {
  font-size: clamp(3rem, 15vw, 3.75rem);
}
h2.big {
  font-size: clamp(6.4rem, 15vw, 9rem);
}

h3 {
  font-size: clamp(1.8rem, 15vw, 3rem);
}

h4 {
  font-size: clamp(1.6rem, 15vw, 2.12rem);
}

h5 {
  font-size: clamp(1.35rem, 15vw, 1.5rem);
}

h6 {
  font-size: clamp(1.2rem, 15vw, 1.3rem);
}

p {
  font-size: clamp(1rem, 15vw, 1.1rem);
}
p.big {
  font-size: clamp(1.3rem, 15vw, 1.6rem);
}
p.small {
  font-size: clamp(0.65rem, 15vw, 0.8rem);
}
@media (max-width: 767.98px) {
  p.small {
    font-size: clamp(0.8rem, 15vw, 0.9rem);
  }
}

.social-icon i {
  font-size: clamp(1rem, 15vw, 1.1rem);
}

strong {
  font-weight: 700;
}

.serif {
  font-family: Nognathy !important;
}

/* span a capo */
p.forced, h3.forced {
  position: relative;
  display: flex;
  flex-direction: column;
  line-height: 140%;
  z-index: 2;
  flex-wrap: wrap;
  max-width: 800px;
}

/* -- Social Icon -- */
/* -- Smooth scroll -- */
.smooth-scroll {
  overflow: hidden !important;
}

.horizontalScrolling {
  padding-top: 125px;
  padding-bottom: 125px;
}

.horizontalScrolling .section-inner {
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
}

[data-scroll-in-section] {
  display: inline-flex;
  padding-right: 50px;
}

.item {
  white-space: nowrap;
  max-width: 2000px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.item:first-child {
  padding-left: 33vw;
}
.item:last-child {
  padding-right: 0;
}
.item:nth-child(4n+1) {
  font-family: Nognathy !important;
  color: #a53034;
  text-transform: uppercase;
}
.item:nth-child(4n+2) {
  font-weight: 200;
}
.item:nth-child(4n+3) {
  color: #e5797d;
  text-transform: uppercase;
}
.item:nth-child(4n+3) {
  font-weight: bolder;
  font-style: italic;
}

.item + .item {
  margin-left: 3rem;
}

.sectionLeftAndRight .section-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

section.afterHorizontal {
  margin-top: -100vh;
}

/* ----- split text anm ---- */
.splitting .char {
  -webkit-animation: slide-in 0.6s cubic-bezier(0.5, 0, 0.5, 1) both;
          animation: slide-in 0.6s cubic-bezier(0.5, 0, 0.5, 1) both;
  -webkit-animation-delay: calc(3ms * var(--char-index) + 1000ms);
          animation-delay: calc(3ms * var(--char-index) + 1000ms);
}

@-webkit-keyframes slide-in {
  from {
    transform: translateY(1.5em);
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(1.5em);
    opacity: 0;
  }
}
/* ----- bg animation ---- */
@media (min-width: 992px) {
  .bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200vw;
    height: 200vh;
    background: transparent url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
    background-repeat: repeat;
    -webkit-animation: bg-animation 0.2s infinite;
            animation: bg-animation 0.2s infinite;
    opacity: 0.5;
    visibility: visible;
  }
}
@-webkit-keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}/*# sourceMappingURL=main.css.map */